body {
    background-color: blue;

}



@media screen and (max-width: 1024px) {
    body {
        background-color: green;
        
    }

    #small {

        width: 66%;
        float: left;
    }

    #medium {

        width: 33%;
        float: left;
    }

    #large {

        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: red;
    }
    
    #small {

        width: 100%;
    }

    #medium {

        width: 100%;
    }

    #large {

        width: 100%;
    }

    
}


/* if small, the 3 divs are stacked on top of one and other. 
if medium, the first div takes 2/3 of width, 
the second 1/3 of width 
and the third the full width.
if big, the 3 divs should be next to one another.*/